<div class="container">
  <div class="home-video-wrapper">
    <%= video_tag "chateau_summon_SparkVideo.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>
    <h1 class="home"> Marcousin </h1>
  </div>

  <div class="sub_video">
    <h1 class="dream_holiday">The Holiday of your Dreams<h1>
    <div class="all_images">
      <%= image_tag "_RAS2974.jpg", alt: "House and flowers", class: "dependence_living img_1", width: 190, height:345 %>
      <div class="top_images">
        <%= image_tag "_RAS2859.jpg", alt: "Chandeler", class: "dependence_living img_2", width: 190, height:170 %>
        <%= image_tag "_RAS2846.jpg", alt: "Wallpaper", class: "dependence_living img_3", width: 190, height:170 %>
      </div>
      <div class="bottom_images">
        <%= image_tag "_RAS2788.jpg", alt: "Hat", class: "dependence_living img_4", width: 190, height:170 %>
        <%= image_tag "_RAS2894.jpg", alt: "wooden table", class: "dependence_living img_5", width: 190, height:170 %>
      </div>
    </div>
  </div>

  <div class="sub_text">
    <p>In 2018, the Domaine de Marcousin opened its doors to travellers
who wish to enjoy their stay in a centrally located, tough quiet and peaceful surrounding.
 It is perched above its own small valley (an UNESCO protected site)
that leads to the Dordogne valley, offering a magnificent view.
The grounds of the Domaine consist of 40 hectares of park, wood and meadows. The Domaine consist of 3 buildings,
 the Chateau, an 18 century manor house that is not for rent,
 a spacious Dependance and a secluded Pigeonnier. In addition there is a 15m X 4m swimming pool
and a Pool House with kitchen and barbecue facilities.
</p>
  </div>

  <div class="our_locations">
    <h1>Your Selection</h1>
    <div class="location_cards">
    <%= link_to dependence_path, class: "principle_card" do%>
        <%= image_tag "_RAS2430.jpg", alt: "Main house", class: "cards_img", width: 300, height:250 %>
        <h2>La Dependence</h2>
        <div class="text_card">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
    <% end %>
      <div class="pigonier_card">
        <%= link_to pigionier_path, class: "principle_card" do%>
          <%= image_tag "_RAS2459.jpg", alt: "Main house", class: "cards_img", width: 300, height:250 %>
          <h2>Le pigionier</h2>
          <div class="text_card">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="near_me">
    <h1>Location</h1>
    <div id='map' style='height: 300px;'></div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibW9ua3oxMSIsImEiOiJja3ZjcGpkcmNhemljMnBuemllb294Z20yIn0.LFHcV2_PcE_wc5ttNnMM1g';
      const map = new mapboxgl.Map({
      container: 'map', // container ID
      style: 'mapbox://styles/monkz11/ckx3m9sw30see14lycwgt53yh', // style URL
      center: [1.028191, 44.808654], // starting position [lng, lat]
      zoom: 10 // starting zoom
      });

      map.on('load', () => {
      // Add a GeoJSON source with 3 points.
      map.addSource('points', {
      'type': 'geojson',
        'data': {
        'type': 'FeatureCollection',
        'features': [
            {
              'type': 'Feature',
              'properties': {},
              'geometry': {
              'type': 'Point',
              'coordinates': [1.013516, 44.809128]
              }
            },
            {
              'type': 'Feature',
              'properties': {},
              'geometry': {
              'type': 'Point',
              'coordinates': [1.043780, 44.870100]
              }
            },
            {
              'type': 'Feature',
              'properties': {},
              'geometry': {
              'type': 'Point',
              'coordinates': [1.1134668682891025 ,44.824218978647224]
              }
            },
            {
              'type': 'Feature',
              'properties': {},
              'geometry': {
              'type': 'Point',
              'coordinates': [1.0079958233608142 ,44.77637253227644]
              }
            }
          ]
        }
      });

      // Add a circle layer
      map.addLayer({
      'id': 'circle',
      'type': 'circle',
      'source': 'points',
      'paint': {
      'circle-color': '#4264fb',
      'circle-radius': 8,
      'circle-stroke-width': 2,
      'circle-stroke-color': '#ffffff'
      }
      });

      // Center the map on the coordinates of any clicked circle from the 'circle' layer.
      map.on('click', 'circle', (e) => {
        map.flyTo({
            center: e.features[0].geometry.coordinates
          });
      });

      // Change the cursor to a pointer when the it enters a feature in the 'circle' layer.
      map.on('mouseenter', 'circle', () => {
        map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'circle', () => {
          map.getCanvas().style.cursor = '';
        });
      });


    </script>


    <div class="slideshow-container">
      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near">
          <%= image_tag "_RAS2430.jpg", alt: "Main house", class: "img_near", width: 120, height:150 %>
          <p>Marcousin</p>
          </div>
          <div class="cards_near top">
          <%= image_tag "accueil-02.jpg", alt: "golf course", class: "img_near", width: 120, height:150 %>
          <p>Golf du lolivarie</p>
          </div>
          <div class="cards_near">
           <%= image_tag "Saint-cyprian.jpg", alt: "Saint-cyprian", class: "img_near", width: 120, height:150 %>
           <p>Saint-cyprian</p>
          </div>
          <div class="cards_near top">
           <%= image_tag "milandes.jpg", alt: "Chateux Milandes", class: "img_near", width: 120, height:150 %>
           <p>Chateau Milandes</p>
          </div>
          <div class="cards_near">
           <%= image_tag "belves.jpg", alt: "Belves", class: "img_near", width: 120, height:150 %>
           <p>Belves</p>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near">
            <%= image_tag "sarlat.jpg", alt: "Sarlat", class: "img_near", width: 120, height:150 %>
            <p>Sarlat</p>
          </div>
          <div class="cards_near top">
          <%= image_tag "domme.jpg", alt: "Domme", class: "img_near", width: 120, height:150 %>
          <p>Domme</p>
          </div>
          <div class="cards_near">
           <%= image_tag "lasceux.jpg", alt: "Lasceux", class: "img_near", width: 120, height:150 %>
           <p>Lasceux</p>
          </div>
          <div class="cards_near top">
           <%= image_tag "commarque.jpg", alt: "Commarque", class: "img_near", width: 120, height:150 %>
           <p>Commarque</p>
          </div>
          <div class="cards_near">
           <%= image_tag "castelnaud.jpg", alt: "Castelnaud", class: "img_near", width: 120, height:150 %>
           <p>Castelnaud</p>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near">
            <%= image_tag "marquessac.jpg", alt: "Marquessac", class: "img_near", width: 120, height:150 %>
            <p>Marquessac</p>
          </div>
          <div class="cards_near top">
            <%= image_tag "gageac.jpg", alt: "Roque Gageac", class: "img_near", width: 120, height:150 %>
            <p>Roque Gageac</p>
          </div>
          <div class="cards_near">
           <%= image_tag "beynac.jpg", alt: "Beynac", class: "img_near", width: 120, height:150 %>
           <p>Beynac</p>
          </div>
          <div class="cards_near top">
           <%= image_tag "limeuil.jpg", alt: "Limeuil", class: "img_near", width: 120, height:150 %>
           <p>Limeuil</p>
          </div>
          <div class="cards_near">
           <%= image_tag "eyzies.jpg", alt: "Les Eyzies", class: "img_near", width: 120, height:150 %>
           <p>Les Eyzies</p>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
      </script>
    </div>
  </div>
</div>
