  <div class="top_dep">
    <h1 class="dep_text">La Dependance</h1>
    <div class="carousel_cont">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "_RAS2974.jpg", alt: "House and flowers", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2430.jpg", alt: "dependence", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2421.jpg", alt: "dependence outside", class: "dep_carousel" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="sub_car">
    <div class="all_cards">
      <div class="all_images">
        <%= image_tag "_RAS3207.jpg", alt: "bedroom", class: "dependence_living_1 img_dep_1", width: 370, height:445 %>
        <div class="top_images">
          <%= image_tag "_RAS3185.jpg", alt: "Bathroom", class: "dependence_living_1 img_dep_2", width: 370, height:220 %>
          <%= image_tag "_RAS2421.jpg", alt: "Outdoor area", class: "dependence_living_1 img_dep_3", width: 370, height:220 %>
        </div>
        <div class="bottom_images">
          <%= image_tag "_RAS2488.jpg", alt: "Game area", class: "dependence_living_1 img_dep_4", width: 370, height:220 %>
          <%= image_tag "_RAS2993.jpg", alt: "Living area", class: "dependence_living_1 img_dep_5", width: 370, height:220 %>
        </div>
      </div>
    </div>


    <div class="slideshow-container">
      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS2481.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS2483.jpg", alt: "living room chair", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2494.jpg", alt: "pool table", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2495.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2499.jpg", alt: "Bathroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS3008.jpg", alt: "Flowers", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS3013.jpg", alt: "View from dependence", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3041.jpg", alt: "corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3052.jpg", alt: "Chair and table", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3249.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%# <%= image_tag "_RAS3028", alt: "Corridor", class: "img_near_dep", width: 140, height:170 %> %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS3049.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3068.jpg", alt: "Bathroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3076.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3277.jpg", alt: "Corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
      </script>
    </div>

    <div class="container_ammenaties">
      <div class ="title_ammen">
        <h1>Amenities</h1>
      </div>
      <div class="mainbod_ammen_top">
        <h2>4 Bedrooms</h2>
        <h2>3 Bathrooms</h2>
        <h2>Game room</h2>
        <h2>Swimming pool</h2>
      </div>
      <div class="mainbod_ammen_middle">
        <h2>Pool house</h2>
        <h2>Washer/Dryer</h2>
        <h2>Allee Cavaliere</h2>
        <h2>Private gym</h2>
      </div>
      <div class="mainbod_ammen_bottom">
        <h2>Outside and Inside siting room</h2>
        <h2>Sauna on reservation</h2>
        <h2>Outside and Inside dining room</h2>
      </div>
    </div>



          <%# <p class="main_text">On entering the Dependance through its main entrance and staircase,
            one finds on the left the living area, a spacious living room with kitchen and dining area.

          On the opposite side, there is a large French window leading to a private terrace
            and garden with an outdoor dining area.

          On the right side of the entrance is a large open area leading to the washing room
            with washing machine and tumble drier.

          Moving up the stairs, you will find 2 double bedrooms sharing an en-suite bathroom.

          Moving up half a floor, you end up in the mezzanine where you encounter first “la chambre bleu”,
            a 3 single bed room with en-suite bathroom with shower.

          And, at the end of the corridor is “la chambre rouge”,
            consisting of a king sized bed and an en-suite bathroom with bath and shower.

          From the mezzanine, continuing the stairs up, you will find a large playing room with its billiard

         From the Dependance it is a short walk to the swimming pool either via the park and stairs or via the wood. Next to the swimming pool is the open Pool House with an electrical "plancha" grill plate where one can enjoy a light meal or a barbecue. Kitchen with fridge, dishwasher and barbecue are available.
          </p> %>
  </div>
</div>
