  <div class="top_dep">
    <h1 class="dep_text">La Dependance</h1>
    <div class="carousel_cont">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "_RAS2974.jpg", alt: "House and flowers", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2430.jpg", alt: "dependence", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2421.jpg", alt: "dependence outside", class: "dep_carousel" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="sub_car">
    <div class="all_cards">
      <div class="top_cards">
        <div class="room_card cards_top">
          <%= image_tag "_RAS3207.jpg", alt: "room", class: "img_dep_card" %>
          <p>4 Bedrooms</p>
        </div>
        <div class="bath_card cards_top">
          <%= image_tag "_RAS3185.jpg", alt: "bathroom", class: "img_dep_card" %>
          <p>3 Bathrooms</p>
        </div>
        <div class="ammen_card cards_top">
          <%= image_tag "_RAS2421.jpg", alt: "outdoor", class: "img_dep_card" %>
          <p>Outdoor area</p>
        </div>
      </div>
          <p class="main_text">On entering the Dependance through its main entrance and staircase,
            one finds on the left the living area, a spacious living room with kitchen and dining area.

          On the opposite side, there is a large French window leading to a private terrace
            and garden with an outdoor dining area.

          On the right side of the entrance is a large open area leading to the washing room
            with washing machine and tumble drier.

          Moving up the stairs, you will find 2 double bedrooms sharing an en-suite bathroom.

          Moving up half a floor, you end up in the mezzanine where you encounter first “la chambre bleu”,
            a 3 single bed room with en-suite bathroom with shower.

          And, at the end of the corridor is “la chambre rouge”,
            consisting of a king sized bed and an en-suite bathroom with bath and shower.

          From the mezzanine, continuing the stairs up, you will find a large playing room with its billiard

         From the Dependance it is a short walk to the swimming pool either via the park and stairs or via the wood. Next to the swimming pool is the open Pool House with an electrical "plancha" grill plate where one can enjoy a light meal or a barbecue. Kitchen with fridge, dishwasher and barbecue are available.
          </p>
      <div class="bottom_cards">
        <div class="bottom_card_text">
          <div class="outdoor_card cards_bot">
            <%= image_tag "_RAS2488.jpg", alt: "game area", class: "img_dep_card_left" %>
            <%= image_tag "_RAS2993.jpg", alt: "living area", class: "img_dep_card_right" %>
          </div>
        <p>Salle a vivre and game room</p>
        </div>
        <div class="bottom_card_text">
          <div class="indoor_card cards_bot">
            <%= image_tag "pool.JPG", alt: "pool", class: "img_dep_card_left" %>
            <%= image_tag "0.jpg", alt: "pool house", class: "img_dep_card_right" %>
          </div>
        <p>Swimming pool and pool house</p>
        </div>
      </div>
    </div>

  </div>

  <div class="gallery">
    <h1>Gallery</h1>
  </div>
</div>
