<div class="top_dep">
  <h1 class="dep_text">La Dependance</h1>
    <%= image_tag "_RAS2974.jpg", alt: "House and flowers", class: "dep_carousel" %>
</div>

<div class="container">
  <div class="sub_car">
    <div class="all_cards">
      <div class ="title_ammen">
        <h1>Photo gallery</h1>
      </div>
      <div class="all_images">
        <%= image_tag "_RAS3207.jpg", alt: "bedroom", class: "dependence_living_1 img_dep_1", width: 370, height:445 %>
        <div class="top_images">
          <%= image_tag "_RAS3185.jpg", alt: "Bathroom", class: "dependence_living_1 img_dep_2", width: 370, height:220 %>
          <%= image_tag "_RAS2421.jpg", alt: "Outdoor area", class: "dependence_living_1 img_dep_3", width: 370, height:220 %>
        </div>
        <div class="bottom_images">
          <%= image_tag "_RAS2488.jpg", alt: "Game area", class: "dependence_living_1 img_dep_4", width: 370, height:220 %>
          <%= image_tag "_RAS2993.jpg", alt: "Living area", class: "dependence_living_1 img_dep_5", width: 370, height:220 %>
        </div>
      </div>
    </div>


    <div class="slideshow-container">
      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS2481.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS2483.jpg", alt: "living room chair", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2494.jpg", alt: "pool table", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2495.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2499.jpg", alt: "Bathroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS3008.jpg", alt: "Flowers", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS3013.jpg", alt: "View from dependence", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3041.jpg", alt: "corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3052.jpg", alt: "Chair and table", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3249.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS3028.jpg", alt: "Corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS3049.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3068.jpg", alt: "Bathroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3076.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3277.jpg", alt: "Corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
      </script>
    </div>

    <div class="container_ammenaties">
      <div class ="title_ammen">
        <h1>Amenities</h1>
      </div>
      <div class="mainbod_ammen_top">
        <div class="icon_text">
          <%= image_tag "icons8-bedroom-50.png", class:"icon_img_size", alt: "Bed", width: 30, height:30 %>
          <h2 class="icon_text_spacing">4 Bedrooms</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-bathroom-64.png", class:"icon_img_size", alt: "Bathroom", width: 30, height:30 %>
          <h2 class="icon_text_spacing">3 Bathrooms</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-billiards-50.png", class:"icon_img_size", alt: "Bathroom", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Game room</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-swimming-pool-64.png", class:"icon_img_size", alt: "Pool", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Swimming pool</h2>
        </div>
      </div>
      <div class="mainbod_ammen_middle">
        <div class="icon_text">
          <%= image_tag "pool_house_copy.jpg", class:"icon_img_size", alt: "Barbeque", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Pool house</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-washing-machine-50.png", class:"icon_img_size", alt: "Washing machine", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Washer/Dryer</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-forest-50.png", class:"icon_img_size", alt: "Forest", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Allee Cavaliere</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-gym-25.png", class:"icon_img_size", alt: "Gym", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Private gym</h2>
        </div>
      </div>
      <div class="mainbod_ammen_bottom">
        <div class="icon_text">
          <%= image_tag "icons8-sofa-50.png", class:"icon_img_size", alt: "Sofa", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Outside and Inside siting room</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-sauna-50.png", class:"icon_img_size", alt: "Sauna", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Sauna on reservation</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-dining-room-50.png", class:"icon_img_size", alt: "Dining room", width: 30, height:30 %>
          <h2 class="icon_text_spacing">Outside and Inside dining room</h2>
        </div>
      </div>
    </div>

    <div class="dropdown_1">
      <div class="icon_text_info">
        <h2>More Information</h2>
        <%= image_tag "icons8-circle-24.png", alt: "dropdown", width: 30, height:30 %>
      </div>
      <div class="dropdown-content_1">
        <p class="main_text">
          On entering the Dependance through its main entrance and staircase, one finds on the left the living area, a spacious living room with kitchen and dining area. On the opposite side, there is a large French window leading to a private terrace and garden with an outdoor dining area. On the right side of the entrance is a large open area leading to the washing room with washing machine and tumble drier. Moving up the stairs, you will find 2 double bedrooms sharing an en-suite bathroom. Moving up half a floor, you end up in the mezzanine where you encounter first “la chambre bleu”, a 3 singles bedroom with en-suite bathroom with shower. And, at the end of the corridor is “la chambre rouge”, consisting of a king-sized bed and an en-suite bathroom with bath and shower. From the mezzanine, continuing the stairs up, you will find a large playing room with its billiard. From the Dependance it is a short walk to the 15m X 4m swimming pool either via the park and stairs or via the wood. Next to the swimming pool is the open Pool House with an electrical "plancha" grill plate where one can enjoy a light meal or a barbecue. Kitchen with fridge, dishwasher and barbecue are available.
        </p>
      </div>
    </div>

  </div>
</div>
