<div class="top_dep">
    <h1 class="dep_text">Le pigionier</h1>
    <div class="carousel_cont">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "_RAS2454.jpg", alt: "pigonier outside", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS3381.jpg", alt: "dependence", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS3528.jpg", alt: "dependence outside", class: "dep_carousel" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="sub_car">
    <div class="all_cards">
      <div class="top_cards">
        <div class="room_card cards_top">
          <%= image_tag "_RAS3465.jpg", alt: "room", class: "img_dep_card" %>
          <p>1-2 Bedrooms</p>
        </div>
        <div class="bath_card cards_top">
          <%= image_tag "_RAS3435.jpg", alt: "bathroom", class: "img_dep_card" %>
          <p>1 Bathroom</p>
        </div>
        <div class="ammen_card cards_top">
          <%= image_tag "_RAS2454.jpg", alt: "outdoor", class: "img_dep_card" %>
          <p>Outdoor area</p>
        </div>
      </div>
          <p class="main_text">The Pigeonnier is hidden in the wood at approximately 250 meters from the Dependance.
It has its own entrance and car park but can be easily reached on foot from Dependance through the park and wood.

The ground floor consist of the main living area with its kitchen and dining area .

Moving on to the first floor, one finds a cosy living room with large windows overhanging the wood.
This room can be converted to an additional bedroom for 2 people. Also on this floor is the bathroom with its shower.

And then finally the bedroom with a king size bed (convertible in 2 single beds) under the roof
with a beautiful beams surrounded by the old traditional pigeonholes.

Outside you will find a large terrace with table and chairs as well as an outdoor rain shower.


          </p>
      <div class="bottom_cards">
        <div class="bottom_card_text">
          <div class="outdoor_card cards_bot">
            <%= image_tag "_RAS3294.jpg", alt: "living room", class: "img_dep_card_left" %>
            <%= image_tag "_RAS3490.jpg", alt: "Kitchen", class: "img_dep_card_right" %>
          </div>
        <p>Kitchen and living room</p>
        </div>
        <div class="bottom_card_text">
          <div class="indoor_card cards_bot">
            <%= image_tag "_RAS2476", alt: "pool", class: "img_dep_card_left" %>
            <%= image_tag "_RAS2439.jpg", alt: "pool house", class: "img_dep_card_right" %>
          </div>
        <p>Extensive greenery</p>
        </div>
      </div>
    </div>

  </div>

  <div class="gallery">
    <h1>Gallery</h1>
  </div>
</div>
