  <div class="top_dep">
    <h1 class="dep_text">Le pigeonnier</h1>
    <div class="carousel_cont">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "_RAS2454.jpg", alt: "pigonier outside", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2430.jpg", alt: "dependence", class: "dep_carousel" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "_RAS2421.jpg", alt: "dependence outside", class: "dep_carousel" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <div class="sub_car">
    <div class="all_cards">
      <div class ="title_ammen">
        <h1>Photo gallery</h1>
      </div>
      <div class="all_images">
        <%= image_tag "_RAS3381.jpg", alt: "Bedroom", class: "dependence_living_1 img_dep_1", width: 370, height:445 %>
        <div class="top_images">
          <%= image_tag "_RAS2476.jpg", alt: "Greenery", class: "dependence_living_1 img_dep_2", width: 370, height:220 %>
          <%= image_tag "_RAS3294.jpg", alt: "Living room", class: "dependence_living_1 img_dep_3", width: 370, height:220 %>
        </div>
        <div class="bottom_images">
          <%= image_tag "_RAS3522", alt: "living room", class: "dependence_living_1 img_dep_4", width: 370, height:220 %>
          <%= image_tag "_RAS3347.jpg", alt: "Flowers", class: "dependence_living_1 img_dep_5", width: 370, height:220 %>
        </div>
      </div>


    <div class="slideshow-container">
      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS2459.jpg", alt: "Ourside view", class: "img_near_dep", width: 140, height:170 %>
          </div>
            <div class="cards_near_dep">
          <%= image_tag "_RAS3323.jpg", alt: "living room chair", class: "img_near_dep", width: 140, height:170 %>
            </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3328.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2467.jpg", alt: "Outside view", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3492.jpg", alt: "Kitchen", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS3405.jpg", alt: "Kitchen", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
          <%= image_tag "_RAS3525.jpg", alt: "flower and sofa", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3490.jpg", alt: "Kitchen", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3437.jpg", alt: "Sink", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3426.jpg", alt: "Corridor", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <div class="mySlides">
        <div class="cards_near_container">
          <div class="cards_near_dep">
            <%= image_tag "_RAS3368", alt: "Living room chair", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
            <%= image_tag "_RAS3300.jpg", alt: "Bedroom", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2466.jpg", alt: "outside", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS2477.jpg", alt: "Kitchen bowl", class: "img_near_dep", width: 140, height:170 %>
          </div>
          <div class="cards_near_dep">
           <%= image_tag "_RAS3333.jpg", alt: "Living room", class: "img_near_dep", width: 140, height:170 %>
          </div>
        </div>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>


    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>

      <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
      </script>
    </div>

    <div class="container_ammenaties">
      <div class ="title_ammen">
        <h1>Amenities</h1>
      </div>
      <div class="mainbod_ammen_top">
        <div class="icon_text">
          <%= image_tag "icons8-bedroom-50.png", alt: "Bed", width: 20, height:20 %>
          <h2>1 1/2 Bedrooms</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-dining-room-50.png", alt: "Dining room", width: 20, height:20 %>
          <h2>Kitchen and dining room</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-bathroom-64.png", alt: "Bathroom", width: 20, height:20 %>
          <h2>1 Bathroom</h2>
        </div>
      </div>
      <div class="mainbod_ammen_middle">
        <div class="icon_text">
          <%= image_tag "icons8-forest-50.png", alt: "Forest", width: 20, height:20 %>
          <h2>Allee Cavaliere</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-sofa-50.png", alt: "Sofa", width: 20, height:20 %>
          <h2>Living room</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-shower-24.png", alt: "Sofa", width: 20, height:20 %>
          <h2>Outdoor shower</h2>
        </div>
      </div>
      <div class="mainbod_ammen_bottom">
        <div class="icon_text">
          <%= image_tag "icons8-beach-chair-64.png", alt: "Sofa", width: 20, height:20 %>
          <h2>Outdoor terrace</h2>
        </div>
        <div class="icon_text">
          <%= image_tag "icons8-sauna-50.png", alt: "Sauna", width: 20, height:20 %>
          <h2>Sauna on reservation</h2>
        </div>
      </div>
    </div>

    <div class="dropdown_1">
      <div class="icon_text_info">
        <h2>More Information</h2>
        <%= image_tag "icons8-circle-24.png", alt: "dropdown", width: 20, height:20 %>
      </div>
      <div class="dropdown-content_1">
        <p class="main_text">The Pigeonnier is hidden in the wood at approximately 250 meters from the Dependance.
          It has its own entrance and car park but can be easily reached on foot from Dependance through the park and wood.

          The ground floor consist of the main living area with its kitchen and dining area .

          Moving on to the first floor, one finds a cosy living room with large windows overhanging the wood.
          This room can be converted to an additional bedroom for 2 people. Also on this floor is the bathroom with its shower.

          And then finally the bedroom with a king size bed (convertible in 2 single beds) under the roof
          with a beautiful beams surrounded by the old traditional pigeonholes.

          Outside you will find a large terrace with table and chairs as well as an outdoor rain shower.
          </p>
      </div>
    </div>
  </div>
</div>
