<!DOCTYPE html>
<html>
  <head>
    <title>Marcouzin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    </%= stylesheet_pack_tag 'application' %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# @import url('https://fonts.googleapis.com/css2?family=Bitter&family=Playfair+Display&display=swap'); %>

  </head>

  <body style="background-color: #335c67">
    <%= render 'shared/dropdown' %>
    <%= yield %>
    <%= render 'shared/footer'%>
  </body>
</html>
